body{
    background-color: rgb(248, 247, 247);
}
#profilePic{
    width: 10%;
    border-radius: 50%;  
}
@media(max-width: 700px){
    #profilePic{
        width: 50px;
        height: 50px;
        margin-left: -15px;
        margin-bottom: -15px;
    }
    #inputContainer{
        margin-bottom: 10px;
        margin-top: -15px;
    }
    .name{
        font-size: large;
        font-weight: 600;
    }
    .btns{
        color: royalblue;
      }
}
.name{
    color: rgb(37, 36, 36);
    margin-left: 13%;
    margin-top: -5%;
}
.headerContent{
    color: royalblue;
    text-align: center;
}
.h1Input{
    color: rgb(37, 36, 36);
}
.contentContainer{
    display: grid;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#inputContainer{
    text-align: center;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
}
#btn{
    width: 40%;
    margin-left: 30%;
    margin-top: 2%;
    height: 100%;
    border-radius: 5px;
    background-color:royalblue;
    color: aliceblue;
}
#btn:hover{
    background-color: rgb(39, 151, 73);
    transition: 0.4s;
}
.postContainer{
    background-color: rgb(233, 233, 233);
    box-shadow: 0 0 5px rgb(177, 177, 179);
    padding-left:2%;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-bottom: 20px;
}
.likee{
    margin-left: 60%;
    height: 30px;
    border-radius: 10px;
    transition: 0.2s;
    color: gray;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

/*------- making a heart ------------*/

::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.heart{
    background-color: #e03e62;
    height: 200px;
    width: 125px;
    position: absolute;
    margin-left: 60%;
    transform: rotate(45deg);
    border-radius: 100px 100px 7px 0;
   display: none;
}
.heart:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #e03e62;
    bottom: -19%;
    left: -30%;
    transform: rotate(90deg);
    border-radius: 0 7px 100px 100px;
}
    

.btns{
    width: 30%;
    height: 25px;
    margin-left: 10px;
    border: none;
    background-color: white;
    color: royalblue;
    transition: 0.2s;
    font-size: large;
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;

}